.container {
  width: 100%;
  margin: 20px; }

header {
  width: 100%;
  height: 50px; }

.header-text {
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #989898;
  font-weight: light 300; }

.title-image {
  background-image: url(https://raw.githubusercontent.com/tiy-atl-js-sept-2015/Assignments/master/Assignment-08*/banner.jpg);
  height: 120px;
  width: 100%; }

.questions {
  background-color: #EEEEEE; }

.answer {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center; }

.answer-title {
  font-size: 25px;
  font-family: 'Roboto Slab', serif; }

.p {
  font-size: 15px;
  font-family: 'Roboto Slab', serif; }

footer {
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: #4B494E;
  text-align: center; }

.footer-text {
  padding-top: 40px;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  color: white; }

footer-text:before {
  content: "&copy"; }
