.header-img {
  width: 100%;
  height: 20px; }

.header-text {
  margin: 0;
  font-size: 15px;
  color: #989898; }

.questions {
  text-align: center; }

footer {
  text-align: center; }

footer-text {
  font-size: 5px; }

footer-text:before {
  content: "&copy"; }
