//Color Pallete

// $textFont: 'Roboto Slab', serif;

.container {
  width: 100%;
  margin: 20px;
}

header {
  width: 100%;
  height: 50px;

}

.header-text {
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;  color: #989898;
  font-weight: 300;
}

.title {

  
 
}

  .title-image {
  }

    img.expand { 
    background-image: url(https://raw.githubusercontent.com/tiy-atl-js-sept-2015/Assignments/master/Assignment-08*/banner.jpg);
    height: 100%;
    width: 100%;
  }
    



.questions {
  background-color: #EEEEEE;
}

.answer {
  text-align: center;
  padding-bottom: 35px;
}

.answer-title{
  margin-bottom: 0;
  font-size: 25px;
  font-family: 'Roboto Slab', serif;;

}
  .p {
    font-size: 15px;
    font-family: 'Roboto Slab', serif;;
  }

footer {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #4B494E;          
  text-align: center;
}
 .footer-text {
  padding-top: 40px;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  color: white
 }


footer-text:before {
  content:"&copy";
}
